@charset "pt-br";

:root {
    --fonte: Verdana;
    --cor01: rgb(148, 225, 229);
    --cor02: #252525;
    --cor03: rgb(0, 5, 149);
}

* {
    margin: 0;
    font-family: var(--fonte);
    color: var(--cor02);
    overflow: hidden;
}

html {
    overflow: hidden;
    min-width: 100vh;
}

body {
    min-height: 100vh;
    min-width: 100vh;
}

@media (max-width: 600px) {

    body main #card-principal {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }

    body main #back {
        min-width: 100%;
        height: 200px;
        border-radius: 0px;
    }

    body main div#info {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    
}


main {
    min-width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor01);
}

div#card-principal {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.474);
}

div#back {
    width:400px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-image: url('../Imagens/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: absolute;
}


div#info {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#info {
    text-align: center;
    font-size: 10px;
}

div#info p, h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px 30px;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 30px;
    border-color: var(--cor03);
    transition: 0.5s;
}

input:hover {
    background-color: var(--cor03);
    font-size: 1.5em;
    color: #fff;
}

#icon > img {
    width: 40px;

}

#text {
    display: flex;
    align-items: center;
    width: 360px;
    justify-content: space-evenly;
    margin: 4px;
}

#icon {
    margin: 20px;
}

#preco  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

#preco > h2 {
    margin-top: 0;
}

#audio {
    width: 400px;
}